[Unit]
Description=OMT Capture
After=network.target

[Service]
WorkingDirectory=/opt/omtcapture
ExecStart=/opt/omtcapture/omtcapture
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
